*{
    padding: 0;
    margin:0;
    border:0;
}
header{
    background-color: skyblue;
    height:150px;
    position: relative;
}
nav{
    position: absolute;
    left:15%;
    bottom:10px;
    background-color: blue;
    height:50px;
    width:70%;
    display: flex;
}
main{
    background-color: bisque;
    width:80%;
    height:70vh;
}
aside{
    background-color: brown;
    height: 70vh;
}
aside aside {
    background-color: aqua;
    height:20vh;
}
li{
    list-style-type: none;
    display: block;
    width:20%;
    height:100%;
    background-color: violet;
}